@font-face {
    font-family: 'Broken Detroit';
    src: url('../fonts/Broken-Detroit.woff2') format('woff2'),
        url('../fonts/Broken-Detroit.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

