@import 'base/null';
@import 'base/fonts';
@import 'base/variables';
@import 'base/mixins';
@import 'libs/bootstrap-grid.min';
@import url('https://fonts.googleapis.com/css2?family=Lexend+Giga:wght@400;600;800&display=swap');

* {
    font-family: 'Broken Detroit', 'Lexend Giga', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $bg-color;
    color:#fff;
}

.container {
    @media (min-width: 1400px) {
        max-width: 1650px;
    }
}



@import 'blocks/header';
@import 'blocks/banner';
@import 'blocks/backstory';
@import 'blocks/title';
@import 'blocks/characters';
@import 'blocks/history';
@import 'blocks/cards';
@import 'blocks/buttons';
@import 'blocks/download';
@import 'blocks/footer';

@import 'blocks/media';