.banner {
    min-height: 100vh;
    background: url('../img/bg_banner_02.jpg') no-repeat center/cover;
    position: relative;
    //.banner_body
    &__body {
        padding-top: 20vh;
        @media (min-width:1920px) {
            padding-top: 20vh;
        }
    }
    // .banner__img
    &__img {
        pointer-events: none;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 600px;
        @media (min-width:1920px) {
            max-width: 688px;
        }
        img {
            width: 100%;
            display: block;
        }
    }
    // .banner__subtitle
    &__subtitle {
        max-width: 850px;
        margin: 0 auto 40px auto;
        font-family: 'Lexend Giga';
        font-style: normal;
        font-weight: 800;
        font-size: 45px;
        line-height: 60px;
        letter-spacing: -0.145em;
        text-align: center;
        color: #FFFFFF;
        @media (min-width:1920px) {
            font-size: 64px;
            line-height: 80px;
            margin-bottom: 50px;
        }
    }
    // .banner__title
    &__title {
        max-width: 100%;
        font-weight: 400;
        font-size: 150px;
        line-height: 150px;
        letter-spacing: 0.08em;
        color: #FFFFFF;
        text-align: center;
        @media (min-width:1920px) {
            font-size: 230px;
            line-height: 253px;
        }
    }
}

